<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="io.reflectoring.staticular.githubapp.client.api.GetInstallationToken" level="DEBUG" />
    <logger name="io.reflectoring.staticular.githubapp.client.api.GetReference" level="DEBUG" />

</configuration>